
.container{
  height: 100%;
  display: table;
  text-align: left;
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 45px 0 0;
}
.contents-wrap{
  color: #494949;
}
.contents-title{
  color: #41a4ef;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0 1em;
  padding:0;
}

/* ======================== */
.unit{
  margin-bottom: 10px;
}
.unit-anc{
  position: relative;
  display: block;
  border-radius: 3px;
  padding: 1em;
  box-sizing: border-box;
  background: #fff;
}
.unit-anc:hover{
  top:1px;
  background: rgba(255,255,255,0.7);
  /*box-shadow: 0 1px 0 0 #dee4e8;*/
}
.job-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 5px;
  padding:0;
}
.job-company{
  color: #787C7E;
  margin: 0 0 5px;
  font-size: 1.3rem;
}
.job-desc{
  font-size: 1.2rem;
  margin: 0 0 5px 0;
  font-size: 1.3rem;
}

.job-utillist{
}
.job-utillist li{
  color: #787C7E;
  font-size: 1.2rem;
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0 1em 0 0;
  border-right: #ddd solid 1px;
}
.job-utillist li:last-child{
  border-right:none;
}

.jobs-resultnum{
  padding:15px 10px;
}

/* ======================== */
/* Events                   */
/* ======================== */
.unit--events .unit-anc{
  overflow: hidden;
  width: 100%;
  display: block;
  position: relative;
}
.unit--events .img{
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  float: left;
  position: absolute;
  top: 1em;
}
.unit--events .img img{
  /* width: 100%;
  height: auto; */
  margin: 0;
  padding: 0;
}
.unit--events .unit-desc{
  /* flex-basis: auto; */
  float: left;
  padding: 0 0 0 170px;
}
.unit--events .time{
  display: block;
  font-size: 1.1rem;
  margin: 0 0 3px;
}
.unit--events .title{
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0 3px;
}
.unit--events .desc{
  font-size: 1.3rem;
  line-height: 1.4;
}

/* ========================= */
.pagination{}
.pagination li{
  display: inline-block;
  margin: 2px;
}
.pagination a{
  cursor: pointer;
  padding: 5px;
}
.pagination .active{
  color: #fff;
  background:#41a4ef; 
}
.pagination .active a{
  color: #fff;
}

