
.dashboard-box{
  display: table;
  text-align: left;
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 45px 0 0;
}

/* NAV ================== */
.dashboard-nav{
  background: #fff;
  display: table-cell;
  width: 180px;
  vertical-align: top;
}
.dashboard-nav ul{
}
.dashboard-nav ul li{
  display: table;
  width: 100%;
  font-size: 1.3rem;
}
.dashboard-nav ul a{
  display: table-cell;
  color: #717678;
  vertical-align: middle;
  height: 48px;
  width: 100%;
  padding:0 0 0 18px;
}
.dashboard-nav ul a:hover{
  color: #41a4ef;
}
.dashboard-nav ul a .fa{
  padding-right: 8px;
}
.dashboard-nav ul .active{
  position: relative;
  color: #41a4ef;
  font-weight: bold;
  background: #eef9ff;
}
.dashboard-nav ul .active:before{
  position: absolute;
  content: "";
  height: 100%;
  left:0;
  top: 0;
  border-left: #41a4ef solid 5px;
}


/* CONTENTS ================== */
.dashboard-content{
  width: auto;
  display: table-cell;
  padding: 30px;
}
.dashboard-content{
  color: #333;
}
.dashboard-title{
  color: #41a4ef;
  font-weight: bold;
  margin: 0 0 1em;
}
