html,
body,
#root,
.warp{
  text-align: center;
  width: 100%;
  height: 100%;
}
h1{
  position: absolute;
  font-size: 0.8rem;
  padding: 10px;
  margin: 0;
  color: #fff;
  font-weight: normal;
  line-height: 1;
}
.warp{
  display: table;
}
.clock{
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}
.clock-time{
  display: block;
  font-size: 5rem;
}
.clock-color{
  display:block;
}
